@import '../../../../../style/appColors.scss';

.room-state {
    margin: 5% auto 3em auto;
    background: $contentColor;
    width: 50%;
    max-height: 20rem;
    display: flex;
    align-items: center;
    & div {
        text-align: center;
        height: auto;
        width: 100%;
    }
    .room-msg {
        color: white;
        font-size: xx-large;
        height: 5rem;
    }
}