@import '../../../../../style/appColors.scss';
@import '../../../../../style/appConstants.scss';

.room-state {
    &.actual-status-free {
        background-color: $freeGreen;
    }    
    &.actual-status-booked {
        background-color: $bookedRed;
    }
    margin: auto;
    background: $contentColor;
    width: 50%;
    max-height: 20rem;
    @media (max-width: $grid__bp-md + 'px') {
        max-height: 8rem;
        width: 100%;
        margin: 1em 1em 1em 2em;
    }
      
    display: flex;
    align-items: center;
    & div {
        text-align: center;
        height: auto;
        width: 100%;
    }
    .room-msg {
        color: white;
        font-size: xx-large;
        @media (max-width: $grid__bp-md + 'px') {
            font-size: x-large;
        }
          
    }
}
