@import '../../../../../style/appColors.scss';
@import '../../../../../style/appConstants.scss';

.room-state {
    .room-state-container {
        height: 100%;
    }
    &.actual-status-free {
        background-color: $freeGreen;
    }    
    &.actual-status-booked {
        background-color: $bookedRed;
    }
    margin: auto;
    background: $contentColor;
    width: 50%;
    height: max-content;
    @media (max-width: $grid__bp-md + 'px') {
        max-height: 8rem;
        width: 100%;
        margin: 1em 1em 1em 2em;
    }
      
    display: flex;
    align-items: center;
    & div {
        text-align: center;
        height: auto;
        width: 100%;
    }
    .room-msg-container {
        .room-msg{
            margin: auto;
            height: max-content;
        }
        color: white;
        font-size: xx-large;
        position: relative;
        height: 12rem;
        display: flex;
        @media (max-width: $grid__bp-md + 'px') {
            font-size: large;
            height: 5rem;
        }
          
    }
    .cancel-reservation {
        cursor: pointer;
        border: 0;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: bold;
        font-size: 1.875rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        @media (max-width: $grid__bp-md + 'px') {
            font-size: 0.875rem;
            padding: 0.5em
        }
    }
}
