
$hours__cols: 12;

.timeline-container {
    width: 100%;
    max-height: 4em;
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    @for $i from 1 through ($hours__cols) {
        &__col-#{$i} {
          flex-basis: (100 / ($hours__cols / $i) ) * 1%;
        }
      };
}