@import '../../../../../style/appColors.scss';


.booked {
    background-color: $bookedRed;
    cursor: pointer
}

.free {
    background-color: $freeGreen;
}

.self-booked {
    background-color: $darkBlue;
    cursor: pointer
}



