$minutes__cols: 60;

.bloc-container {
  width: 100%;
  max-height: 6em;
  &__row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      &.title {
        max-height: 1.5em;
        text-align: right;
      }
  }
  &__col-1 {
    flex-basis: 10%;
  }
  &__col-2 {
    flex-basis: 90%;
  }
    
}

.slot-container {
    width: 100%;
    max-height: 6em;
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    @for $i from 1 through ($minutes__cols) {
        &__col-#{$i} {
          flex-basis: (100 / ($minutes__cols / $i) ) * 1%;
        }
      };
}